.container{
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;

}

.calculator{
    background-color: rgb(127, 237, 107);
    width: auto;
    height: auto;
}

.displayAnswer{
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color:rgb(239, 181, 238);
    width: 90px;
    height: 20px;
    border: none;
}

button{
    background-color: rgb(207, 190, 206);
    border: none;
}

button:hover{
    opacity: 0.6;
}

.widerbutton{
    width: 100%;
}